<div class="startup-form">
  <p>Register a Startup</p>
  <form action="/startups" method="post">
    <input type="text" name="name" placeholder='Name of your startup' />
    <input type="text" name="city" placeholder='City your startup is in' />
    <input type="textarea" name="description" placeholder='description of your startup' />
    <input type="submit" value="Register Startup">
  </form>
</div>