<div class="user-form">
  <p>Register a User</p>
  <form action="/users" method="post">
    <input type="text" name="name" placeholder='Your name' />
    <input type="text" name="startup_name" placeholder='Name of your startup' />
    <input type="text" name="city" placeholder='City your user is in' />
    <input type="textarea" name="description" placeholder='description of your user' />
    <input type="submit" value="Register User">
  </form>
</div>